    <div class="ui-sendCoupon__main">
        <div class="ui-sendCoupon__choose">
            <div class="ui-sendCoupon__chooseUser">
                <p>选择发放类型:</p>
                <div class="ui-sendCoupon__user" v-for="item in sendType">
                    <div class="ui-chooseUser">
                        <div class="ui-button" v-touch:tap="onChooseUserTap($index)">
                            <div class="ui-userRadio" v-bind:class="{'isSelectUser':$index==choice}" v-touch:tap="onChooseUserTap"></div>
                            <p>{{item.type}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-sendCoupon__chooseType">
                <p>选择券类型:</p>
                <div class="ui-sendCoupon__type">
                    <div class="ui-chooseUser" v-if="isSelectCash">
                        <div class="ui-button" v-touch:tap="onCashTap">
                            <div class="ui-couponRadio" v-bind:class="{'isSelectCoupon':isSelectCash}" v-touch:tap="onCashTap"></div>
                            <p>现金券</p>
                        </div>
                        <input v-model="cash" type="number" class="ui-coupon__input" v-on:input="onInputFaceValue">
                        <p>元</p>
                    </div>
                    <div class="ui-chooseUser" v-else>
                        <div class="ui-button" v-touch:tap="onCashTap">
                            <div class="ui-couponRadio" v-bind:class="{'isSelectCoupon':isSelectCash}" v-touch:tap="onCashTap"></div>
                            <p>现金券</p>
                        </div>
                        <input type="number" class="ui-coupon__input" readonly>
                        <p>元</p>
                    </div>
                    <div class="ui-chooseUser" v-if="!isSelectCash">
                        <div class="ui-button" v-touch:tap="onCouponTap">
                            <div class="ui-couponRadio" v-bind:class="{'isSelectCoupon':!isSelectCash}" v-touch:tap="onCouponTap"></div>
                            <p>优惠券</p>
                        </div>
                        <input v-model="coupon" type="number" class="ui-coupon__input" v-on:input="onInputFaceValue">
                        <p>元</p>
                        <p>限额</p>
                        <input type="number" class="ui-limit" v-model="limit">
                        <p>元</p>
                    </div>
                    <div class="ui-chooseUser" v-else>
                        <div class="ui-button" v-touch:tap="onCouponTap">
                            <div class="ui-couponRadio" v-bind:class="{'isSelectCoupon':!isSelectCash}" v-touch:tap="onCouponTap"></div>
                            <p>优惠券</p>
                        </div>
                        <input type="number" class="ui-coupon__input" readonly>
                        <p>元</p>
                        <!-- <p>限额</p>
                        <input type="number" class="ui-limit" v-model="limit" placeholder="请输入限额">
                        <p>元</p> -->
                    </div>
                </div>
                <div class="ui-sendCoupon__workTime">
                    <p>有效期为:</p>
                    <input v-model="period" type="number" class="ui-coupon__input is-data" placeholder="请输入有限期">
                    <div class="ui-button_date">
                        <div class="ui-button_day" v-touch:tap="onSelectTap($index)" v-for="item in list">
                            <div class="ui-timeRadio" v-bind:class="{'isSelectTime':$index==dayOrMonth}" v-touch:tap="onSelectTap($index)"></div>
                            <p>{{item.date}}</p>
                        </div>
                    </div>
                </div>
                <div class="ui-addCoupon__addRule">
                    <p>使用规则:</p>
                    <div class="ui-addCoupon__addRuleContent">
                        <textarea v-model="addRule"></textarea>
                    </div>
                </div>
                <div class="ui-sendCoupon__submit">
                    <div class="ui-submit" v-touch:tap="onSubmitSendCouponTap">
                        确&nbsp;定
                    </div>
                </div>
            </div>
        </div>
    </div>
