<div class="ui-shadow shadow" v-touch:tap="onCancelTap"></div>
<div>
    <div class="ui-distributionBody">
        <div class="ui-Cancel" v-touch:tap="onCancelTap"></div>
        <div class="ui-title">
            <p>添加时间段</p>
        </div>
        <div class="ui-costRecord">
            <!-- <div class="ui-amount">
                <p>时间点1:</p>
                <div>
                    <input type="text" v-model="start" placeholder="格式hh:mm
">
                </div>
            </div>
            <div class="ui-amount">
                <p>时间点2:</p>
                <div>
                    <input type="text" v-model="end" placeholder="格式hh:mm
" >
                </div>
            </div> -->
        </div>
        <div>
            <p v-touch:tap="onAddTimeTap">添&nbsp;&nbsp;&nbsp;加</p>
        </div>
    </div>
</div>
