<div class="ui-shadow shadow" v-touch:tap="onCancelTap"></div>
<div>
    <div class="ui-body">
        <div v-touch:tap="onCancelTap"></div>
        <div class="ui-title">
            <p>选择年份</p>
        </div>
        <div class="ui-choose"><!--  v-touch:tap="getYearTap" -->
            <select v-model="year">
                <option v-for="item in list">
                    {{item.year}}
                </option>
            </select>
        </div>
        <div v-touch:tap="onAddTap">
            <p>确定</p>
        </div>
    </div>
</div>
