@charset "utf-8";
@import "../_config";
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #34c273;
    //     background-size: 100%;
    overflow-y: hidden;
}

#content {
    background-color: #19a05e;
    background-size: 100%;
    height: 100%;
}

.ui-financeM__base {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    color: #ffffff;
    background-color: #34c273;
    z-index: 99;
    overflow: hidden;
}

.ui-financeM__title {
    display: block;
    width: 100%;
    padding-left: 1rem;
    // text-align: center;
}

.ui-balance {
    flex: 1;
    font-size: .4rem;
    padding-top: .34rem;
    &>span {
        font-size: 0.3rem;
    }
}

.ui-recharge {
    flex: 1;
    font-size: .4rem;
    padding-top: .64rem;
}

.ui-withdrawCash {
    flex: 1;
    font-size: .4rem;
    padding-top: .6rem;
}

.ui-financeM__count {
    width: 100%;
    // height: .9rem;
    position: relative;
    padding-left: 1rem;
    // text-align: center;
    &>i {
        display: block;
        position: absolute;
        top: .36rem;
        right: .2rem;
        width: 1rem;
        height: .9rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: .4rem .26rem;
        &.is-show {
            background-image: url(../../image/index/showEye.png);
        }
        &.is-hidden {
            background-image: url(../../image/index/hiddenEye.png);
        }
    }
}

.ui-financeM_btn {
    display: flex;
    width: 100%;
    font-size: 0;
    height: 1rem;
    padding-top: .5rem;
    // position: relative;
    &>div {
        flex: 1;
        font-size: .44rem;
        position: relative;
        text-align: center;
        &>div {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: .6rem;
            width: 2.5rem;
            line-height: .6rem;
            background-color: #ffffff;
            border-radius: 15px;
            color: #19a05e;
        }
        // right: 0;
        // left: 0;
        // top: 0;
        // bottom: 0;
        // margin:auto;
    }
}

.ui-number {
    font-size: .8rem;
    padding-top: .38rem;
    line-height: .8rem;
    // line-height: .9rem;
}

.ui-financeM__toDetail {
    position: relative;
    text-align: center;
    font-size: .2rem;
    padding-top: .42rem;
    &>div {
        position: absolute;
        left: 0;
        right: 0;
        top: .7rem;
        bottom: 0;
        margin: auto;
        width: 1.5rem;
        height: 1rem;
        padding-top: .2rem;
        &>p {
            padding-top: .2rem;
        }
        &>div {
            text-align: center;
            background-image: url(../../image/financeManage/arrowDown.png);
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: -.6rem;
            margin: auto;
            width: .25rem;
            height: .14rem;
        }
    }
}

.ui-financeM__detail {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    font-size: .26rem;
    color: #ffffff;
    // height: 75%;
    background-color: #19a05e;
    background-size: cover;
    overflow: auto;
}

.ui-detail__line {
    display: flex;
    text-align: center;
    padding-top: .32rem;
    // letter-spacing: .06rem;
}

.ui-line__time {
    flex: 2;
}

.ui-line__financeType {
    flex: 1;
    overflow: hidden;
    // line-height: .32rem;
    &>span{
        display: inline-block;
        line-height: 1.2;
        vertical-align: middle;
    }
}

.ui-line__finance {
    flex: 1;
}

.center-hack {
    display: inline-block;
    font-size: 0;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
