.ui-list{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
}

.ui-list__head{
	display: block;
	width: 100%;
	// height: 1.25rem;
	font-size: .28rem;
	color: #a8a8a8;
	text-align: center;
	padding: 1.65rem 0 .55rem;
}

.ui-list__item{
	display: block;
	width: 100%;
	height: .9rem;
	font-size: 0;
	text-align: center;
}

.ui-list__psd{
	display: inline-block;
	position: relative;
	width: 5.32rem;
	height: .92rem;
	font-size: 0;
	border: 1px solid #cdcdcd;
	&>p{
		display: inline-block;
		position: relative;
		width: .88rem;
		height: .88rem;
		border-right: 1px solid #cdcdcd;
		background-color: #fff;
		text-align: center;
		&:last-child{
			border-right: none;
		}
	}
	&>input{
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		font-size: .01rem;
		text-align: left;
		opacity: 0;
		z-index: 99;
		border: none;
		outline: none;
		background-color: #fff;
	}
}

.ui-list__spot{
	position: absolute;
	top: .36rem;
	left: .35rem;
	display: block;
	width: .16rem;
	height: .16rem;
	border-radius: .08rem;
	background-color: #8C8C8C;
}

.ui-list__bst{
	display: block;
	width: 100%;
	height: 2rem;
	font-size: 0;
	text-align: center;
	padding-top: 1.12rem;
	&>span{
		display: inline-block;
		width: 5.32rem;
		height: .88rem;
		line-height: .88rem;
		font-size: .32rem;
		text-align: center;
		color: #fff;
		background-color: #34c273;
		border-radius: .16rem;
	}
}

.ui-list__keyboard{
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	font-size: 0;
	padding-top: .88rem;
	border-top: 1px solid #B7B7B7;
	background-color: #fff;
	&>span{
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: .88rem;
		line-height: .88rem;
		font-size: .24rem;
		text-align: center;
		border-bottom: 1px solid #B7B7B7;
		&:active{
			background-color: #E3E3E3;
		}
	}
	&>p{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
		color: #262626;
		&>span{
			display: inline-block;
			position: relative;
			width: 33.3%;
			height: 25%;
			font-size: .32rem;
			text-align: center;
			border-right: 1px solid #B7B7B7;
			border-bottom: 1px solid #B7B7B7;
			&>i{
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -.2rem;
				right: 50%;
				margin-right: -.05rem;
				width: .1rem;
				height: .4rem;
				font-size: .4rem;
				text-align: center;
				&.is-del{
					height: .32rem;
					margin-top: -.16rem;
					font-size: .32rem;
					width: .66rem;
					margin-right: -.33rem;
				}
			}
			&:nth-child(3n){
				border-right: none;
			}
			&:active{
				background-color: #E3E3E3;
			}
			&.is-space{
				background-color: #E3E3E3;
			}
		}
	}
}