@charset "utf-8";
@import "../_config";
html {
    padding: 0;
    margin: 0;
}

.ui-costM__main {
    font-size: .24rem;
    padding-top: 1.6rem;
}

.ui-costM__query {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    display: flex;
    background-color: #ffffff;
    &>p {
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        flex: 2;
        font-size: .28rem;
    }
    &>div:nth-child(2) {
        flex: 2;
        display: flex;
        font-size: .24rem;
        &>select {
            padding-right: .08rem;
            outline: none;
            flex: 2;
            max-width: 1.22rem;
            border: none;
            height: .4rem;
            line-height: .32rem;
            font-size: .28rem;
            background-color: #e2e2e2;
            margin: .2rem 0;
            color: #505e88;
            text-align: right;
        }
        &>div {
            font-size: .26rem;
            flex: 1;
            height: .8rem;
            line-height: .8rem;
            text-align: center;
        }
    }
    &>div:nth-child(3) {
        flex: 1.5;
        display: flex;
        font-size: .28rem;
        &>select {
            padding-right: .08rem;
            outline: none;
            flex: 1;
            max-width: 1.22rem;
            border: none;
            height: .4rem;
            line-height: .32rem;
            font-size: .28rem;
            background-color: #e2e2e2;
            margin: .2rem 0;
            color: #505e88;
            text-align: right;
        }
        &>div {
            font-size: .26rem;
            flex: 1;
            height: .8rem;
            line-height: .8rem;
            text-align: center;
        }
    }
    &>div:last-child {
        flex: 1;
        text-align: left;
        padding-right: .4rem;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        &>div {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            height: .48rem;
            line-height: .48rem;
            width: 1rem;
            color: #fff;
            background-color: #34c273;
            border-radius: .06rem;
        }
    }
}

.ui-list__title {
    display: flex;
    position: fixed;
    top: .8rem;
    left: 0;
    width: 100%;
    height: .8center;
    line-height: .8rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #616e88;
    &>p{
        flex: 1;
        @include ellipsis;
        text-align: center;
        &.time{
            flex: none;
            width: 100px;
            font-size: 0.28rem;
        }
        &.reason{
            flex: 2;
        }
        &.money{
            flex: 1.5;
        }
    }
}

.ui-costM__list {
    width: 100%;
}

.ui-hasList {
    display: flex;
    width: 100%;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    font-size: 0.28rem;
    color: #616e88;
    &>p{
        flex: 1;
        @include ellipsis;
        text-align: center;
        &.time{
            flex: none;
            width: 100px;
            font-size: 0.2rem;
            // line-height: .4rem;
        }
        &.reason{
            flex: 2;
        }
        &.money{
            flex: 1.5;
        }
        &.delete{
            text-decoration: underline;
            color: #0000ff;
        }
    }
    &:nth-child(odd) {
        background-color: #ffffff;
    }
    &:nth-child(even) {
        background-color: #f7f6f3;
    }

}
