<div class="ui-list">
	<div class="ui-list__header"></div>
	<div class="ui-list__item">
		<div class="ui-list__box is-code">
			<i class="is-phone"></i>
			<input type="tel" placeholder="手机号码" v-model="phone" v-on:input="onPhoneInput" readOnly/>
			<span v-touch:tap="onGetCodeTap()">{{codeText}}</span>
		</div>
	</div>
	<div class="ui-list__item">
		<div class="ui-list__box">
			<i class="is-key"></i>
			<input type="number" placeholder="6位验证码" v-model="code" v-on:input="onCodeInput"  maxlength="6"/>
		</div>
	</div>
	<div class="ui-list__item">
		<div class="ui-list__box">
			<i class="is-unlock"></i>
			<input type="password" placeholder="新密码(至少六位)" v-model="newPswOne" v-on:input="onNewPswOneInput" maxlength="16"/>
		</div>
	</div>
	<div class="ui-list__item">
		<div class="ui-list__box">
			<i class="is-lock"></i>
			<input type="password" placeholder="确认新密码" v-model="newPswTwo" v-on:input="onNewPswTwoInput" maxlength="16"/>
		</div>
	</div>
	<div class="ui-list__Btn">
		<span v-bind:class="{'is-pass':isFinish}" v-touch:tap="onFinishTap">完成</span>
	</div>
</div>