<div class="ui-addReward">
	<div class="ui-addReward__item">
		<p>奖项名称:</p>
		<input type="text" v-model="name"/>
	</div>
	<div class="ui-addReward__item">
		<p>奖品类型:</p>
		<select v-model="kindValue">
			<option v-for="item in kind" v-bind:value="item.text">{{item.text}}</option>
		</select>
		<i></i>
	</div>
	<div class="ui-addReward__item">
		<p>积分:</p>
		<input type="number" v-model="point"/>
	</div>
	<div class="ui-addReward__item">
		<p>选择券:</p>
		<select v-model="couponValue">
			<option v-for="item in couponList" v-bind:value="item.describe">{{item.describe}}</option>
		</select>
		<i></i>
	</div>
	<div class="ui-addReward__item">
		<p>获奖概率:</p>
		<input type="number" v-model="probability"/>
	</div>
	<div class="ui-addReward__buttom">
		<span v-touch:tap="onAddRewardTap()">添加</span>
		<span v-touch:tap="oncancelTap()">取消</span>
	</div>
</div>