@import "../_config";
body,
html {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

.ui-list__item {
	display: block;
	width: 100%;
	height: 2rem;
	text-align: center;
	padding-top: 1.2rem;
}

.ui-list__itemContent {
	display: inline-block;
	position: relative;
	width: 5rem;
	height: .8rem;
	padding-left: 2.4rem;
	&>span {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 2.4rem;
		line-height: .8rem;
		font-size: .34rem;
		font-weight: 400;
		color: #333;
		text-align: left;
	}
	&>input {
		display: block;
		width: 100%;
		height: .8rem;
		line-height: .54rem;
		font-size: .34rem;
		color: #3f3f3f;
		padding: 0 .08rem;
		text-align: center;
		border: none;
		outline: none;
		border-radius: .1rem;
		background-color: #eee;
	}
	&>select {
		display: block;
		position: relative;
		width: 100%;
		height: .8rem;
		line-height: .54rem;
		font-size: .34rem;
		color: #3f3f3f;
		padding: 0 1rem;
		border: none;
		outline: none;
		border-radius: .1rem;
		background-color: #eee;
		text-align: right;
	}
	&>i {
		display: block;
		position: absolute;
		top: .32rem;
		right: .2rem;
		width: .34rem;
		height: .18rem;
		background-repeat: no-repeat;
		background-position: cover;
		background-size: .34rem .18rem;
		background-image: url(../../image/index/arrow3.png);
	}
}

.ui-list__buttom {
	display: block;
	width: 100%;
	height: 2rem;
	padding: 1.12rem .6rem 0;
	&>span {
		display: block;
		width: 100%;
		height: .88rem;
		line-height: .88rem;
		font-size: .36rem;
		color: #fff;
		text-align: center;
		border-radius: .1rem;
		background-color: #81e08d;
		&:active {
			background-color: #81f08d;
		}
	}
}

