<div class="ui-regist">
    <div class="ui-list">
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                姓名
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="name" />
            </div>
        </div>
        <!-- <div class="ui-list__item" v-show="iosMagicStatus">
            <div class="ui-list__title">
                性别
            </div>
            <div class="ui-list__input">
                <p>
                    <select class="sex" v-model="sex">
                        <option value="1">
                            男
                        </option>
                        <option value="2">
                            女
                        </option>
                        <option value="0">
                            --
                        </option>
                    </select>
                </p>
            </div>
        </div>
        <div class="ui-list__item" v-show="iosMagicStatus">
            <div class="ui-list__title">
                出生年月
            </div>
            <div class="ui-list__input">
                <input readOnly="true" class="birth" v-touch:tap="picker" v-model="birth"></input>
            </div>
        </div> -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                户口所在地
            </div>
            <div class="ui-list__input">
                <input readOnly="true" class="birthPlace" v-touch:tap="onResidenceTap()" v-model="region"></input>
            </div>
        </div> -->

        <div class="ui-list__item" v-show="iosMagicStatus">
            <div class="ui-list__title">
                <i>*</i>
                性别
            </div>
            <div class="ui-list__sexItem">
                <div class="ui-list__sex" v-touch:tap="onSexTap(1)">
                    <p>
                        <i v-show="showSex"></i>
                    </p>
                    <span>先生</span>
                </div>
                <div class="ui-list__sex" v-touch:tap="onSexTap(2)">
                    <p>
                        <i v-show="!showSex"></i>
                    </p>
                    <span>女士</span>
                </div>
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                手机
            </div>
            <div class="ui-list__input">
                <input type="tel" v-model="phone" />
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                QQ
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="QQ" />
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                微信
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="wechat" />
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                邮箱
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="email" />
            </div>
        </div>
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                登录账号名
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="account" />
            </div>
        </div> -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                登录密码
            </div>
            <div class="ui-list__input">
                <input type="password" v-model="password" />
            </div>
        </div> -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                确认密码
            </div>
            <div class="ui-list__input">
                <input type="password" v-model="confirmPwd" />
            </div>
        </div> -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                代理商名
            </div>
            <div class="ui-list__input">
                <input type="text" v-model="agentName" />
            </div>
        </div>
      -->
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                拟开店省
            </div>
            <div class="ui-list__input">
                <input readOnly="true" placeholder="省份"  v-model="province" v-touch:tap="onRegionTap('nowPlace')"></input>
                 <!--<span class="ui-list__select">省份</span>-->
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                拟开店市
            </div>
            <div class="ui-list__input">
                <input readOnly="true" placeholder="地级市"  v-model="city"  v-touch:tap="onRegionTap('nowPlace')"></input>
                 <!--<span class="ui-list__select">地级市</span>-->
            </div>
        </div>
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                拟开店县
            </div>
            <div class="ui-list__input">
                <input readOnly="true" placeholder="市、县级市、县" v-model="district" v-touch:tap="onRegionTap('nowPlace')"></input>
                 <!--<span class="ui-list__select" >市、县级市、县</span>-->
            </div>
        </div>

        <!--
        <div class="ui-list__item">
            <div class="ui-list__title">
                <i>*</i>
                拟开店
            </div>
            <div class="ui-list__input">
                <input readOnly="true" placeholder="省、市、县"  v-model='address' v-touch:tap="onCityTap" ></input>
              <span class="ui-list__select" >市、县级市、县</span>
                <a>定位</a>
            </div>
        </div>
          -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                配送区域
            </div>
            <div class="ui-list__input">
                <span>{{area}}</span>
                <select v-model="area" class="area">
                    <option v-for="item in areaList">
                        {{item.name}}
                    </option>
                </select>
            </div>
        </div> -->
        <div class="ui-list__item">
            <div class="ui-list__title is-addr">
                <i>*</i>
                拟开店具体地址
            </div>
            <div class="ui-list__input">
                <input v-model="addr" type="text" placeholder="街道、门牌号（不需要输入省市县）" />
            </div>
        </div>
        <div class="ui-list__item is-goal">
            <div class="ui-list__title">
                <i>*</i>
                申请目的
            </div>
            <div class="ui-list__input">
                <textarea v-model="replayaim" type="text"></textarea>
            </div>
        </div>
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                拟开店面
            </div>
            <div class="ui-list__input">
                <input v-model="shop" type="tel" />
            </div>
            <div class="ui-list__text">
                平方米
            </div>
        </div> -->
        <!-- <div class="ui-list__item">
            <div class="ui-list__title">
                月租金
            </div>
            <div class="ui-list__input">
                <input v-model="rent" type="tel" />
            </div>
            <div class="ui-list__text">
                元/月
            </div>
        </div> -->
    </div>
    <!-- <div class="ui-detail">
        <div class="ui-detail__signboard">
            <div class="ui-detail__title">
                门头可做招牌
            </div>
            <div class="ui-detail__size">
                <div class="ui-detail__text">
                    长
                </div>
                <input v-model="length" type="tel" />
                <div class="ui-detail__text">
                    宽
                </div>
                <input v-model="width" type="tel" />
                <div class="ui-detail__text">
                    高
                </div>
                <input v-model="height" type="tel" />
            </div>
        </div>
        <div class="ui-detail__manage">
            <div class="ui-detail__title">
                管理人员
            </div>
            <div class="ui-detail__select">
                <div class="ui-detail__item" v-for="item in checkList">
                    <div class="ui-detail__subItem">
                        <div class="ui-detail__box" v-touch:tap="onCheckTap($index)">
                            <div v-bind:class="{'is-checked':$index == manager}">
                            </div>
                        </div>
                        <div class="ui-detail__selectText">
                            {{item.text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="ui-list__item">
        <p class="ui-list__title">
            欲投入资金
        </p>
        <div class="ui-list__input">
            <input v-model="money" type="tel" />
        </div>
        <p class="ui-list__text">
            元
        </p>
    </div>
    <div class="ui-list__item">
        <p class="ui-list__title">
            管理时间
        </p>
        <div class="ui-list__input">
            <input class="time" v-model="time" readonly="true" v-touch:tap="picker" />
        </div>
    </div> -->
    <div class="ui-list__tip">
        <span>注：凡含 <i>*</i> 为必填项，关系到您的申请是否快速有效审核，请认真填写</span>
    </div>
    <div class="ui-regist__btn" v-touch:tap="onRegistTap">
        申请加盟
    </div>
</div>
